<h1>Add an Event</h1>
<hr>

<%= simple_form_for @event do |f| %>
  <%= f.input :event_name %>
  <%= f.input :street_address %>
  <%= f.input :city %>
  <%= f.input :state, collection: Event.states %>
  <%= f.input :zip_code %>
  <%= f.input :phone_number %>
  <%= f.submit 'Add Event' %>
<% end %>
<hr>
